@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
    font-family: 'Inter', sans-serif;
    @apply text-black;
    font-size: 12px;
}

/* sm */
@media (min-width: 640px) {
    html, body {
        font-size: 14px;
    }
}

/* md */
@media (min-width: 768px) {
    html, body {
        font-size: 18px;
    }
}

/* lg */
/* @media (min-width: 1024px) {
    html, body {
        font-size: 20px;
    }
} */

/* xl */
/* @media (min-width: 1280px) {
    html, body {
        font-size: 22px;
    } 
} */

/* 2xl */
@media (min-width: 1536px) {
    html, body {
        font-size: 30px;
    }
}


@layer utilities {
    .snap {
      scroll-snap-type: var(--scroll-snap-direction) var(--scroll-snap-constraint);
    }
  
    .snap-y {
      --scroll-snap-direction: y;
    }
  
    .snap-mandatory {
      --scroll-snap-constraint: mandatory;
    }
  
    .snap-start {
      scroll-snap-align: start;
    }
  }
  
  .splide__slide {
    opacity: 50%;
  }
  
  .splide__slide.is-active {
    opacity: 100%;
    border: none;
  }